<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>regist</title>
</head>
<body>

    <div th:replace="common/header.html"></div>

    <h3>신규 직원 등록</h3>

    <form action="/employee/regist" method="post">
        <label>직원이름 : </label><input type="text" name="empName"><br>
        <label>전화번호 : </label><input type="number" name="phone"><br>
        <label>월급 : </label>><input type="number" name="salary"><br>
        <label>입사일 : </label>><input type="date" name="hireDate"><br>
        <input type="submit">
    </form>

</body>
</html>